*#*#
.#*
*~
ltximg/
*.html
*.out
/src/pages/lipsum1.txt
/src/pages/lipsum2.txt
/src/pages/teste1.txt
/src/pages/teste2.txt
/src/pages/teste3.txt
/src/pages/huffman.cpp
*.fls
*.aux
*.fdb_latexmk
*.tex
/src/pages/LICENSE
/src/pages/Makefile
/src/pages/huffman
